<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Pokedex</title>
  </head>
  <body>
    <header id="top-container">
      <h1 id="header">Pokédex</h1>
      <img id="pokedex-logo" src="/img/Pokédex_logo.png" alt="pokédex logo" />
      <img
        id="pokeball-logo"
        src="/img/pokeball-logo.png"
        alt="pokeball-logo"
      />
    </header>
    <nav id="menu">
      <a href="/home/">Home</a>
      <a href="/cadastro/">Cadastro</a>
    </nav>

    <main>
      <div>
        <a href="/editar/<%= pokemon.id %>">Editar</a>
      </div>
    </main>
  </body>
</html>
