@import url("https://fonts.googleapis.com/css2?family=Sarpanch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarpanch&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-wrap: wrap;
}

#top-container {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  background-color: brown;
  width: 100%;
  justify-content: center;
  position: relative;
}

body h1 {
  color: brown;
  background-color: brown;
  padding: 1% 1%;
  font-family: "Sarpanch", sans-serif;
  font-size: 50px;
}

#pokedex-logo {
  position: absolute;
  top: 0;
  align-self: center;
  width: 15%;
}

#pokeball-logo{
  align-self: center;
  width: 5%;
  margin-top: -2%;
  margin-bottom: 1%;
}

#menu {
  display: flex;
  flex-direction: row;
  background-color: rgb(221, 62, 41);
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  padding: 1% 1%;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

a {
  display: contents;
  color: whitesmoke;
  font-family: "Sarpanch", sans-serif;
  font-size: larger;
  width: 50px;
  height: 5vh;
  margin: 20px;
}
